@font-face {
  font-family: 'Minecraftia';
  src: url('/assets/fonts/Minecraftia-Regular.ttf') format('truetype');
}

.card {
  background: rgba(91, 89, 89, 0.5);
  width: 320px;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
  text-align: center;
  position: relative;
  z-index: 10;
  font-family: 'Minecraftia', monospace;
}

.card h2,
.botones button,
.formulario input,
.btn-login,
.olvido {
  font-family: 'Minecraftia', monospace;
}

:host {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #363434;
}

.botones {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.botones button {
  flex: 1;
  padding: 8px;
  cursor: pointer;
  border: 2px solid #000;
  background: #999b9e;
  color: white;
  transition:
    background 0.2s,
    transform 0.2s;
}

.botones button:hover {
  background: #b0b0b0;
  transform: scale(1.05);
}

.formulario {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.formulario input {
  padding: 8px;
  border-radius: 6px;
  border: 2px solid #000;
}

.btn-login {
  margin-top: 10px;
  padding: 10px;
  border: 2px solid #000;
  border-radius: 6px;
  background: #999b9e;
  color: white;
  cursor: pointer;
  transition:
    background 0.2s,
    transform 0.2s;
}

.btn-login:hover {
  background: #b0b0b0;
  transform: scale(1.05);
}

.fila {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.olvido {
  color: #fff;
  text-decoration: none;
  font-size: 14px;
}

.olvido:hover {
  text-decoration: underline;
}

.fondo-consolas {
  position: fixed;
  inset: 0;
  z-index: 0;
  pointer-events: none;
  overflow: hidden;
}

.formulario {
  transition:
    opacity 0.4s ease,
    transform 0.4s ease;
  opacity: 1;
  transform: translateY(0);
}

.formulario.fade {
  opacity: 0;
  transform: translateY(-20px);
}

.botones button.active {
  background: #b0b0b0;
  transform: scale(1.05);
}
