html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100%;
  font-family: 'Minecraftia', sans-serif ;
}

@font-face {
  font-family: 'Minecraftia';
  src: url('/assets/fonts/Minecraftia-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}